<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>
<form action="/logout" method="post">
    <input class="button" type="submit" value="Log out"/>
</form>
<div><a href="/rooms">Rooms</a></div>
<label th:utext="|Hello, ${user.getName()}!|"></label>
<ul>
    <th:block th:each="booking : ${bookings}">
        <li th:utext="${booking}"></li>
    </th:block>
</ul>
</body>
</html>