<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
<div style="color:red"><label th:utext="${message}"></label></div>

<div>
    <form action="/logout" method="post">
        <input type="submit" value="Log out"/>
    </form>
</div>

<div><a href="/bookings/my">My bookings</a></div>
<div><a href="/rooms">Refresh</a></div>

<div>
    <form action="/rooms/add" method="post">
        <input type="number" name="number" placeholder="Room`s number">
        <input type="submit" value="Add room">
    </form>
</div>

<div>
    <form action="/bookings/add" method="post">
        <ul>
            <th:block th:each="room : ${rooms}">
                <li>
                    <label th:utext="${room}"></label>
                    <input type="checkbox" name="rooms" th:value="${room.getId()}">
                </li>
            </th:block>
        </ul>
        <input type="text" name="comment" placeholder="Comment">
        <input type="datetime-local" name="date_from" placeholder="Date from">
        <input type="datetime-local" name="date_to" placeholder="Date to">
        <input type="submit" value="Add booking">
    </form>
</div>

<div>
    <form action="/rooms/available" method="post">
        <input type="datetime-local" name="date_from" placeholder="Date from">
        <input type="datetime-local" name="date_to" placeholder="Date to">
        <input type="submit" value="Show available rooms">
    </form>
</div>
</body>
</html>